<html>
  <head>
    <title>Investor Details</title>
  </head>
  <body>
    <!-- will refer to secondary id/ username instead of id -->
    <h1><%= investor.fname %> <%= investor.lname %></h1>
    <p>Investor ID: <%= investor.id %></p>
    <!-- investor actions -->
    <form action="/investor/edit/<%= investor.id %>" method="POST">
      <input type="text" name="fname" value="<%= investor.fname %>">
      <input type="text" name="lname" value="<%= investor.lname %>">
      <button type="submit">Edit Investor</button>
    </form>
    <form action="/investor/delete/<%= investor.id %>" method="POST">
      <button type="submit">Delete Investor</button>
    </form>
  </body>
</html>
